/*
I sampled the rice paper with a color picker and picked the median.
1. #f4eed7
2. #f5eed7
3. #f6efd8
4. #f6f0d9
5. #f6f0d9
6. #f7f1da
7. #f7f1da
8. #f8f2da
9. #f8f2da
10. #f8f2da
11. #f8f2db
12. #f8f2db
13. #f9f3db
14. #f9f3dc
15. #f9f3dc
16. #f9f3dc
17. #f9f4dc
18. #f9f4dc
19. #f9f4dc
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Oxygen', system-ui, sans-serif;
	line-height: 1.5;
	background: url("ricepaper_v5.png") #f8f2da;
	/*Bacground picture from here: https://www.toptal.com/designers/subtlepatterns/rice-paper-3/
	Author: Atle Mo, used under CC BY-SA 3.0 - Subtle Patterns © Toptal Designers.*/
}

#header {
	position: fixed;
	width: 100%;
	top: 0;
	background: #BDA790;
	height: 55px;
	display: flex;
	padding-inline: 15px;
	box-sizing: border-box;
	align-items: center;
}

#header h1 {
	margin: 0;
	display: inline-block;
	font-family: 'Kurale', serif;
	color: #663300;
}

#header h1 a {
	font-weight: normal;
}

h2,
h3,
h4 {
	font-family: 'Kurale', serif;
	color: #663300;
}

h3 {
	padding-top: 60px;
}

#content {
	padding-top: 60px;
	padding-bottom: 60px;
	width: 70%;
	margin: auto;
}

.innertube {
	display: flex;
	align-items: center;
	flex: 1;
}

.dropbtn {
	display: inline-block;
	font-family: 'Kurale', serif;
	font-size: 1.2em;
	background: #BDA790;
	color: #663300;
	padding: 12px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
	background: #663300;
	color: #BDA790;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	font-family: 'Kurale', serif;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	right: 0;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	font-weight: normal;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.languageChoice {
	border-left: thin solid gray;
	/* copied from .dropbtn */
	padding-left: 12px;
	font-size: 1.2em;
}

.show {
	display: block;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid black;
}

th,
td {
	padding: 6px;
}

p {
	color: #331a00;
}

a {
	color: #663300;
	text-decoration: none;
	font-weight: bold;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}

.img-inline {
	display: inline;
}

li {
	color: #331a00;
}

.bold {
	font-weight: bold;
}

.right-content {
	float: right;
	text-align: center;
}

.right-content p {
	max-width: 15em;
	margin: 1em;
}

.footer {
	text-align: center;
	clear: both;
}

/*event gallery*/
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

/* Create four equal columns that sits next to each other */
.column {
	flex: 23%;
	max-width: 23%;
	padding: 0 4px;
}

/*event gallery*/
.column img {
	margin-top: 8px;
	vertical-align: middle;
}

#menutxt {
	display: none;
}

#hidebutton {
	background-color: #d9ccbf;
	border-radius: 5px;
	display: block;
	font-family: 'Kurale', serif;
	padding: 5px 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Responsive layout for event gallery - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
	.column {
		flex: 48%;
		max-width: 48%;
	}
}

@media (max-width: 600px) {

	/*responsiveness*/
	#content {
		width: 90%;
	}

	#header {
		height: auto;
		display: grid;
		grid-template-areas:
			"hamburger language"
			"dropdown dropdown";
		grid-template-columns: 1fr auto;
	}

	#menutxt {
		grid-area: hamburger;
	}

	.languageChoice {
		grid-area: language;
	}


	#header h1 {
		display: none;
	}

	#menutxt {
		display: block;
	}

	.innertube {
		margin: 0;
		display: none;
		grid-area: dropdown;
	}

	#header .innertube .dropdown {
		display: block;
	}

	.navigationMenu {
		text-align: center;
		display: inline-block;
	}

	.dropbtn {
		width: 100%;
		box-sizing: border-box;
	}

	.dropdown-content {
		width: 100%;
		position: relative;
	}

	.dropdown-content a {
		display: inline-block;
		width: 100%;
		padding: 6px 0px;
	}

	.column {
		flex: 100%;
		max-width: 100%;
	}
}