<h1><a href="/est/index.html">Karavan LARP</a></h1>

<div class="dropdown">
	<button onclick="dropEvent()" class="dropbtn">Üritused</button>
	<div id="eventDropdown" class="dropdown-content">
		<a href="/est/events/algus.html">Karavan I: Algus</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropWorld()" class="dropbtn">Maailm</button>
	<div id="woldDropdown" class="dropdown-content">
		<a href="/est/world/short.html">Lühitutvustus</a>
		<a href="/est/world/theuma.html">Theuma</a>
		<a href="/est/world/leonte.html">Leonte Impeerium</a>
		<a href="/est/world/freelands.html">Vabad Maad</a>
		<a href="/est/world/theumite.html">Theumiidid</a>
		<a href="/est/world/glossary.html">Sõnastik</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropPractical()" class="dropbtn">Kasulik</button>
	<div id="practicalDropdown" class="dropdown-content">
		<a href="/est/useful/costume.html">Kostüümijuhend</a>
		<a href="/est/useful/larp.html">Mis on LARP?</a>
		<a href="/est/useful/mainrules.html">Üldreeglid</a>
		<a href="/est/useful/creds.html">Tegijad - Tänud</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropRule()" class="dropbtn">Tegelasreeglid</button>
	<div id="ruleDropdown" class="dropdown-content">
		<a href="/est/rules/intro.html">Sissejuhatus</a>
		<a href="/est/rules/racesclasses.html">Rassid ja klassid</a>
		<a href="/est/rules/alchemist.html">Lisa: Alkeemik</a>
		<a href="/est/rules/magician.html">Lisa: Maag</a>
		<a href="/est/rules/priest.html">Lisa: Preester</a>
		<a href="/est/rules/sorcerer.html">Lisa: Sorts</a>
		<a href="/est/rules/equipment.html">Lisa: Varustus</a>		
	</div>
</div>

<div class="dropdown">
	<button onclick="dropReg()" class="dropbtn">Registreerumine</button>
	<div id="regDropdown" class="dropdown-content">
		<a href="/est/reg/registration.html">Registreerumine</a>
	</div>
</div>
