<h1><a href="/eng/index.html">Caravan LARP</a></h1>

<div class="dropdown">
	<button onclick="dropEvent()" class="dropbtn">Events</button>
	<div id="eventDropdown" class="dropdown-content">
		<a href="/eng/events/beginning.html">Caravan I: Beginning</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropWorld()" class="dropbtn">World</button>
	<div id="woldDropdown" class="dropdown-content">
		<a href="/eng/world/short.html">Short introduction</a>
		<a href="/eng/world/theuma.html">Theuma general</a>
		<a href="/eng/world/leonte.html">Empire of Leonte</a>
		<a href="/eng/world/freelands.html">The Free Lands</a>
		<a href="/eng/world/theumite.html">Theumites</a>
		<a href="/eng/world/glossary.html">Glossary</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropPractical()" class="dropbtn">Practical</button>
	<div id="practicalDropdown" class="dropdown-content">
		<a href="/eng/useful/costume.html">Costume information</a>
		<a href="/eng/useful/characterrules.html">Character rules</a>
		<a href="/eng/useful/mainrules.html">General rules</a>
		<a href="/eng/useful/creds.html">Makers - Credits</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropReg()" class="dropbtn">Registration</button>
	<div id="regDropdown" class="dropdown-content">
		<a href="/eng/reg/registration.html">Registration</a>
	</div>
</div>
