<h1 style="margin-right: auto"><a href="/est/index.html">Karavan LARP</a></h1>

<div class="dropdown">
	<button onclick="dropReg()" class="dropbtn">Registreerumine</button>
	<div id="regDropdown" class="dropdown-content">
		<a href="/est/reg/registration.html">Registreerumine</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropRule()" class="dropbtn">Reeglid</button>
	<div id="ruleDropdown" class="dropdown-content">
		<a href="/est/rules/intro.html">Reeglid</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropPractical()" class="dropbtn">Kasulik</button>
	<div id="practicalDropdown" class="dropdown-content">
		<a href="/est/useful/costume.html">Kostüümijuhend</a>
		<a href="/est/useful/larp.html">Mis on LARP?</a>
		<a href="/est/useful/mainrules.html">Üldreeglid</a>
		<a href="/est/useful/privacy.html">Privaatsuspoliitika</a>
		<a href="/est/useful/creds.html">Tegijad - Tänud</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropWorld()" class="dropbtn">Maailm</button>
	<div id="woldDropdown" class="dropdown-content">
		<a href="/est/world/short.html">Lühitutvustus</a>
		<a href="/est/world/theuma.html">Theuma</a>
		<a href="/est/world/leonte.html">Leonte Impeerium</a>
		<a href="/est/world/freelands.html">Vabad Maad</a>
		<a href="/est/world/theumite.html">Theumiitide Ühendus</a>
		<a href="/est/world/glossary.html">Sõnastik</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropEvent()" class="dropbtn">Üritused</button>
	<div id="eventDropdown" class="dropdown-content">
		<a href="/est/events/caravan1.html">Karavan I: Algus</a>
		<a href="/est/events/caravan2.html">Karavan II: Metsa Süda</a>
		<a href="/est/events/caravan3.html">Karavan III: Lõppude õhtu</a>
		<a href="/est/events/caravan4.html">Karavan IV: Valitute pulmajaht</a>
	</div>
</div>

<a href="/eng" class="languageChoice">🇬🇧</a>
