<h1><a href="/index.html">Karavan LARP</a></h1>

<div class="dropdown">
	<button class="dropbtn">Üritused</button>
</div>

<div class="dropdown">
	<button onclick="dropWorld()" class="dropbtn">Maailm</button>
	<div id="woldDropdown" class="dropdown-content">
		<a href="world/theuma.html">Theuma</a>
		<a href="world/leonte.html">Leonte Impeerium</a>
		<a href="world/theumite.html">Theumiidid</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropPractical()" class="dropbtn">Kasulik</button>
	<div id="practicalDropdown" class="dropdown-content">
		<a href="useful/costume.html">Kostüümijuhend</a>
		<a href="useful/mainrules.html">Üldreeglid</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropReg()" class="dropbtn">Registreerumine</button>
	<div id="regDropdown" class="dropdown-content">
		<a href="registration.html">Registreerumine</a>
	</div>
</div>