<h1><a href="/index.html">Karavan LARP</a></h1>

<div class="dropdown">
	<button class="dropbtn">Events</button>
</div>

<div class="dropdown">
	<button onclick="dropWorld()" class="dropbtn">World</button>
	<div id="woldDropdown" class="dropdown-content">
		<a href="world.html">World</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropPractical()" class="dropbtn">Practical</button>
	<div id="practicalDropdown" class="dropdown-content">
		<a href="practical.html">Practical</a>
		<a href="registration.html">Registration</a>
		<a href="creds.html">Credits</a>
	</div>
</div>
