<h1><a href="/eng/index.html">Caravan LARP</a></h1>

<div class="dropdown">
	<button onclick="dropEvent()" class="dropbtn">Events</button>
	<div id="eventDropdown" class="dropdown-content">
		<a href="/eng/events/beginning.html">Caravan I: Beginning</a>
		<a href="/eng/events/caravan2.html">Caravan II</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropWorld()" class="dropbtn">World</button>
	<div id="woldDropdown" class="dropdown-content">
		<a href="/eng/world/short.html">Short introduction</a>
		<a href="/eng/world/theuma.html">Theuma</a>
		<a href="/eng/world/leonte.html">The Empire of Leonte</a>
		<a href="/eng/world/freelands.html">The Free Lands</a>
		<a href="/eng/world/theumite.html">The Theumite Union</a>
		<a href="/eng/world/glossary.html">Glossary</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropPractical()" class="dropbtn">Practical</button>
	<div id="practicalDropdown" class="dropdown-content">
		<a href="/eng/useful/costume.html">Costume information</a>
		<a href="/eng/useful/mainrules.html">General rules</a>
		<a href="/eng/useful/creds.html">Makers - Credits</a>
	</div>
</div>

<div class="dropdown">
	<button onclick="dropRule()" class="dropbtn">Rules</button>
	<div id="ruleDropdown" class="dropdown-content">
		<a href="/eng/rules/intro.html">Introduction</a>
		<a href="/eng/rules/racesclasses.html">Races and classes</a>
		<a href="/eng/rules/alchemist.html">Appendix 1: Alchemist</a>
		<a href="/eng/rules/magician.html">Appendix 2: Mage</a>
		<a href="/eng/rules/priest.html">Appendix 3: Priest</a>
		<a href="/eng/rules/sorcerer.html">Appendix 4: Sorcerer</a>
		<a href="/eng/rules/equipment.html">Appendix 5: Equipment</a>	
	</div>
</div>

<div class="dropdown">
	<button onclick="dropReg()" class="dropbtn">Registration</button>
	<div id="regDropdown" class="dropdown-content">
		<a href="/eng/reg/registration.html">Registration</a>
	</div>
</div>
