<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	</head>
	
	<body>		

		<header id="header">
			<div class="innertube">
				<h1><a href="index.html">Karavan LARP</a></h1>
			</div>
		</header>
		
		<div id="wrapper">
		
			<main>
				<div id="content">
					<div class="innertube">
						{{ content }}
					</div>
				</div>
			</main>
			
			<nav id="nav">
				<div class="innertube">
					{% include nav.html %}
				</div>
			</nav>
		
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>From the makers of Fyerellal, Tiair and others.</p>
			</div>
		</footer>
	
	</body>
</html>
